/.Xauthority
/.android
/.antigen
/.anyconnect
/.bash_history
/.cache/
/.cargo/
/.cisco/
/.dart/
/.dartServer/
/.designer
/.devtools
/.dosbox/
/.dropbox
/.emulator_console_auth_token
/.flutter
/.flutter_tool_state
/.fonts.conf
/.git-credentials
/.gnupg
/.gradle/
/.gtkrc-2.0
/.ipython
/.java
/.kde4/
/.mozilla
/.npm
/.nutstore
/.nv
/.nvidia-settings-rc
/.pki
/.pub-cache
/.putty
/.pylint.d
/.qrcp.json
/.rustup/
/.sogouinput
/.ssh
/.steam
/.steampath
/.steampid
/.swt
/.thunderbird
/.vim
/.vscode
/.wget-hsts
/.wine
/.yarn
/.yarnrc
/.zcompdump*
/.zotero
/.zsh_history
/.zshrc.zwc
/Android
/AndroidStudioProjects
/Desktop
/Documents
/Downloads
/Dropbox
/Games
/Nutstore Files
/Pictures
/Qt
/Unity
/Videos
/Zotero
/android-sdk
/dev
/envs
/go
/projects
AndroidStudio/
