/.bash_history
/.cache/
/.dosbox/
/.git-credentials
/.gnupg
/.ipython
/.java
/.mozilla
/.npm
/.nutstore
/.nv
/.pki
/.pylint.d
/.qrcp.json
/.oh-my-zsh
/.ssh
/.steam
/.steampath
/.steampid
/.swt
/.thunderbird
/.vim
/.vscode
/.wget-hsts
/.wine
/.yarnrc
/.zsh_history
/Documents
/Downloads
/Games
/Nutstore Files
/Pictures
/Unity
/dev
/envs
/go
/.zcompdump-haowenl-xps-arch-5.8
