/.Xauthority
/.antigen
/.android
/.bash_history
/.cache/
/.designer
/.dosbox/
/.dropbox
/.fonts.conf
/.git-credentials
/.gnupg
/.gtkrc-2.0
/.ipython
/.java
/.kde4/
/.mozilla
/.npm
/.nutstore
/.nv
/.nvidia-settings-rc
/.pki
/.pylint.d
/.qrcp.json
/.sogouinput
/.ssh
/.steam
/.steampath
/.steampid
/.swt
/.thunderbird
/.vim
/.vscode
/.wget-hsts
/.wine
/.yarnrc
/.zcompdump*
/.zotero
/.zsh_history
/.zshrc.zwc
/Desktop
/Documents
/Downloads
/Dropbox
/Games
/Nutstore Files
/Pictures
/Qt
/Unity
/Videos
/Zotero
/android-sdk
/dev
/envs
/go
/projects
